*{
    font-size: 20px;
}
body{
    background-color: black;
    color: white;
}
.container{
    background-color: rgb(149, 197, 46);
    width: 100px;
    height: 100px;
}
.box{

    background-color: rgb(27, 179, 128);
    border: 20px solid rgb(232, 220, 220);
    padding: 50px;
    margin: 20px;
    width: 300px;
    height: 20px;
}